
html, body{
    height: 99vh;
}

/* @media (orientation: landscape){
    html, body{
        height: 120vw;
        width: 200vw;
    }
} */

/* body, html{
    margin: 0;
    padding: 0;
    
} */


body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*height: 1100px;*/
    background-color: red;
    /* display: grid;
    height: 100%; */
}

/* @media (orientation: landscape){
    body{
        transform: scale(0.5);
    }
} */


.game-container{
    justify-self: center;
    height: 1100;
    align-self: center;  
}

iframe{
    border: 1px solid black;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}
