
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{

}

.game-container{
    padding: 5em;
}

.placeholder{
    height: 1200px;
    width: 600px;
    background-color: lightpink;
}

iframe{
    border: 1px solid black;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}
